<h1>Características</h1>

Ir a: 
<ul>
  <li><a routerLink="/directivas">Directivas</a></li>
  <li><a routerLink="/servicios">Servicios</a></li>
  <li><a routerLink="/pipes">Pipes</a></li>
  <li><a routerLink="/guards">Guards</a></li>
</ul>

<hr />

<router-outlet></router-outlet>